<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><i class="fa fa-cubes" style="padding: 2px; border-bottom: 1px solid black; border-top:1px solid black;"></i> SUCH STARTER. SO TYPESCRIPT.</a></div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="{{#if active.home}}active{{/if}}"><a href="/">Home</a></li>
        {{#if user}}
        <!-- very placeholder. such logged in. much action. wow. -->
        {{/if}}
        <li class="{{#if active.contact}}active{{/if}}"><a href="/contact">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{#if user}}
          <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown"><img
              src="{{gravatar user}}"><span>{{username user}}</span><i
              class="caret"></i></a>
            <ul class="dropdown-menu">
              <li><a href="/account">My Account</a></li>
              <li class="divider"></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </li>
        {{else}}
          <li class="{{#if active.login}}active{{/if}}">
            <a href='/login'>Login</a>
          </li>
          <li class="{{#if active.signup}}active{{/if}}">
            <a href='/signup'>Create Account</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</div>
